.content{
    padding: 100px 0 ;
}

.content  .register h5{
    font-family:"Montserrat", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;

}
.active{
    color: #ff4747;
    border-bottom: 2px solid #ff4747;
    width: 50%;
    margin-left: 15%; 
} 
.deactive{
    margin-right: 15%; 
    width: 50%;  
}
.content .form-control{
    margin-top: 20px;
    width: 90%;
}
.content .form-control::placeholder{
    color: #999999;
    font-size: 13px;
}

.content .btn{
    font-family:"Montserrat", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 550;
    background-color: #ff4747;
}
.content p{
    font-size:  12px;
    color: #999999;
    margin-top: 10px;
    width: 90%;
}
.content .links{
    padding: 50px 0 ;
}
.content .links h5{
    font-size: 16px;
    color: #999;
    margin-bottom: 15px;
}
.content .links .fab{
    padding: 10px 5px;
}
.content .links .fa-twitter {
    color: #55abef;
}
.content .links .fa-facebook{
    color: #45629e;
}
.content .links .fa-instagram{
    color:#db4437 ;
}
.content .links .fa-linkedin{
    color: #0076b6;
}
.content .links .fa-google-plus{
    color:#db4437;
}